<html>

<title>File Uploader</title>

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

<script src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/vendor/jquery.ui.widget.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/tmpl.min.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}") }}></script>
<script src="{{ url_for('static', filename='js/main.js') }}") }}></script>
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br><br><br>
            <center>
                <img src="{{ url_for('static', filename='img/kiwix-logo.svg') }}" width=800 height=174>
            <center>
            <br><br><br>
        </div>
    </div>
    {% if read_only and not zim_file_exists %}
        <div>
            <h2>Oops</h2>
            <p>This grain doesn't have content yet, and you don't have permission to upload any.</p>
        <div>
    {% elif not zim_file_exists %}
        <div id="slide-intro" class="{% if page != 'intro'%}hidden {% endif %}row"><div class="col-lg-12">
            <h2>Wikipedia without the Internet. Just a few clicks to set up.</h2>

            <h3>Who is this for?</h3>

            <p>Are you setting up an IT system for your school with limited Internet access? Are you setting up an independent mesh networking community? Are you just a data hoarder? Then you probably would love to have your own copy of Wikipedia, available on your local network even when you're disconnected from the Internet.</p>

            <p>Now, with Kiwix, you can easily set up your own copy of Wikipedia, Wikiquote, Wikivoyage, and many other open content sources with the simplicity of Sandstorm.</p>

            <h3>Known limitations</h3>

            <p><a href="http://wiki.kiwix.org/wiki/Features#Web_server" target="_blank" rel="noopener noreferrer">Kiwix</a> is a project of its own. This Sandstorm app makes it easier to set up, but it is still in Beta, so some features may be rough around the edges:</p>

            <ul>
                <li>Searching by document content does not work for most wikis.</li>
                <li>Search does not work at all for some wikis (It does work for full English Wikipedia).</li>
                <li>The "Random Page" feature does not work.</li>
                <li>Seeking within videos does not work.</li>
                <li>External links must manually be opened in new tabs</li>
            </ul>

            <p>If you are interested in seeing something in particular get improved, <em>please give feedback</em>!</p>

            <h3>So how does it work?</h3>
            <ul>
                <li>Get a content file from the Internet</li>
                <li>Upload it here, into this Sandstorm grain</li>
                <li>Enjoy the content, and share it with others on your local network!</li>
            </ul>

            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Learn More</h3>
                </div>
                <div class="panel-body">
                    <p>Learn more about the <a href="http://kiwix.org" target="_blank" rel="noopener noreferrer">Kiwix</a> project. There are also apps available for desktop and mobile.</p>
                </div>
            </div>
            <a href="?page=download" class="btn btn-lg btn-primary">Get Started </a>
            <br>
            <br>
        </div></div>
        <div id="slide-download" class="{% if page != 'download'%}hidden {% endif %}row">
            <div class="col-lg-12">
                <h2>Download content file</h2>
                <p>The first step is to download a content file to your personal computer (not onto Sandstorm just yet). If you already have a content file ready, you can <a href="?page=upload">skip ahead</a>.</p>
                <div class="panel panel-default" style="margin-top:1em">
                    <div class="panel-heading">
                        <h3 class="panel-title">Notes:</h3>
                    </div>
                    <div class="panel-body">
                        <p>For Kiwix, content is stored in ".zim" files. Most files, including Wikipedia, are available on the Kiwix website. Each file can be downloaded normally or using BitTorrent. BitTorrent is often faster, and will also help save bandwidth for Kiwix.</p>
                        <p>If you choose a large file, be mindful of:</p>
                        <ul>
                            <li>Your Sandstorm quota, if you have one set</li>
                            <li>Your overall disk space, if you are running your own Sandstorm server</li>
                            <li>Upload time, if you and your Sandstorm instance aren't on the same local network</li>
                        </ul>
                    </div>
                </div>
                <h3>Popular Content:</h3>
                <p>Here are some quick links to popular items. File sizes are estimates, as they may change over time. <em>If any of the links go dead, a bug report would be appreciated! In the mean time, see "Browse All Content" below.</em></p>
            </div>
            {% for download_links_column in download_links | slice(3) %}
                <ul class="col-lg-4 list-group">
                {% for download_link in download_links_column %}
                    <li class="list-group-item">
                        <ul class="list-group">
                            <h4>{{ download_link.display_name }} {{ download_link.display_language }}</h4>
                            <br>
                            <p><strong>Full Size</strong> (~{{ download_link.full.approx_size }})</p>
                            <a href="{{ download_link.full.direct_link }}" target="_blank" rel="noopener noreferrer" class="list-group-item">Direct Download</a>
                            <a href="{{ download_link.full.torrent_link }}" target="_blank" rel="noopener noreferrer" class="list-group-item">Torrent</a>
                            {% if download_link.nopic %}
                                <br>
                                <p><strong>No Images</strong> (~{{ download_link.nopic.approx_size }})</p>
                                <a href="{{ download_link.nopic.direct_link }}" target="_blank" rel="noopener noreferrer" class="list-group-item">Direct Download</a>
                                <a href="{{ download_link.nopic.torrent_link }}" target="_blank" rel="noopener noreferrer" class="list-group-item">Torrent</a>
                            {% endif %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            <div class="col-lg-12">
                <h3>Browse All Content:</h3>
                <p>Here, you can find much more content, including other Wikimedia projects (and even subsets of Wikipedia) available in many other languages.
                <ul class="list-group">
                    <a href="http://wiki.kiwix.org/wiki/Content" target="_blank" rel="noopener noreferrer" class="list-group-item"><strong>All English content</strong></a>
                    <a href="http://wiki.kiwix.org/wiki/Content_in_all_languages" target="_blank" rel="noopener noreferrer" class="list-group-item"><strong>All content in all languages</strong></a>
                </ul>
                <a href="?page=upload" class="btn btn-lg btn-primary">Okay, I got my content file.</a>
                <a href="?page=intro" class="btn btn-lg btn-secondary">Go back to intro</a>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div id="slide-upload" class="{% if page != 'upload'%}hidden {% endif %}">
            <h2>Upload content file</h2>
            <div id="upload-error" style="display: none;">
                <span class="label label-danger">Error</span> <span id="upload-error-text"></span>
            </div>
            <form id="fileupload" action="/" method="POST" enctype="multipart/form-data">
                <table role="presentation" class="table"><tbody class="files">
                    <div id="upload-progress" class="row template-upload fade in" style="display: none;">
                        <div class="col-sm-9" id="upload-progress-placeholder">
                            <span class="label label-success">Progress:</span>
                            <span>Sending...</span>
                        </div>
                        <div class="col-sm-9" id="upload-progress-values">
                            <!-- A bootstrap progress bar used too much CPU. It'll be on for a long time for these large uploads, so it's not worth it. -->
                            <span class="label label-success">Progress:</span>
                            <span id="upload-progress-percentage"></span>%
                            (<span id="upload-progress-sofarmegs"></span>/
                            <span id="upload-progress-totalmegs"></span> MiB)
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                        </div>
                    </div>
                </tbody></table>
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-12" id="upload-interface">
                        <div class="panel panel-default" style="margin-top:1em">
                            <div class="panel-heading">
                                <h3 class="panel-title">Note:</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>On some browsers you can drag and drop a file onto here.</li>
                                    <li>Make a new grain for each new content file you upload. Do not try to upload multiple content files onto the same grain.</li>
                                    <li>If you try to upload onto two grains on the same Sandstorm server at the same time, it may end up slower overall.</li>
                                </ul>
                            </div>
                        </div>
                        <span class="btn btn-lg btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Upload your content file (.zim)</span>
                            <input type="file" name="file">
                        </span>
                        <a href="?page=download" class="btn btn-lg btn-secondary">Oops, go back to content download</a>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <br>
        </div>
        <div id="slide-done" class="hidden row"><div class="col-lg-12">
            <div class="row" id="kiwix-waiting">
                <div class="col-lg-12">
                    <center><img src="{{ url_for('static', filename='img/loading.gif') }}"></center>
                </div>
            </div>
            <div class="row hidden" id="kiwix-link">
                <div class="col-lg-12">
                    <a class="btn btn-primary btn-lg" href="/kiwix/">Done! Check it out.</a>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div></div>
    {% else %}
        <div class="row" id="kiwix-waiting">
            <div class="col-lg-12">
                <center><img src="{{ url_for('static', filename='img/loading.gif') }}"></center>
            </div>
        </div>
        {# Signal to js to redirect as soon as Kiwix is ready #}
        <div id="kiwix-do-redirect"></div>
    {% endif %}

</div>


{% if not zim_file_exists %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Uploading interface uses Twitter's <a href="http://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a> CSS framework (including Icons from <a href="http://glyphicons.com/" target="_blank" rel="noopener noreferrer">Glyphicons</a>).
            </p>
        </div>
    </footer>

{% endif %}

</body>
</html>
