{# NOTE: This needs to maintain partial parity with .sandstorm/description.md #}
<div class="col-lg-12">
    <h1>All of Wikipedia (and much more!) on your home or community server, in a few clicks</h1>

    <p>With Kiwix, you can set up <em>your own</em> server to host a copy of many popular open data websites, in multiple languages, including:</p>

    <ul>
        <li><a href="https://www.wikipedia.org/" target="_blank" rel="noopener noreferrer">Wikipedia</a> (and other <a href="https://www.wikimedia.org/" target="_blank" rel="noopener noreferrer">Wikimedia</a> projects)</li>
        <li><a href="https://www.gutenberg.org/" target="_blank" rel="noopener noreferrer">Project Gutenberg</a></li>
        <li><a href="https://stackoverflow.com/" target="_blank" rel="noopener noreferrer">Stack Overflow</a> (and other <a href="https://stackexchange.com/" target="_blank" rel="noopener noreferrer">Stack Exchange</a> sites)</li>
        <li><a href="https://www.ted.com/talks" target="_blank" rel="noopener noreferrer">Ted Talks</a></li>
    </ul>

    <p><a href="http://wiki.kiwix.org/wiki/Special:MyLanguage/Content_in_all_languages" target="_blank" rel="noopener noreferrer">See here</a> for all available content. To learn more about the Kiwix project (including how to install Kiwix directly onto your phone or desktop instead of Sandstorm) <a href="http://kiwix.org" target="_blank" rel="noopener noreferrer">see here</a>.</p>

    <h2>What is this not?</h2>

    <p>This is <em>not</em> wiki software, where anybody can edit the content. Once you download and install the content, it is read-only.</p>

    <h2>Why do I want this?</h2>

    <p>You may find this useful if:</p>

    <ul>
    <li>You want to search and view content privately.</li>
    <li>You're just a <a href="https://www.reddit.com/r/DataHoarder/" target="_blank" rel="noopener noreferrer">data hoarder</a>.</li>
    <li>You have Sandstorm set up in a low connectivity environment, and you want quick access to popular content.</li>
    <li>You are already a fan of the standalone <a href="http://wiki.kiwix.org/wiki/Kiwix-serve" target="_blank" rel="noopener noreferrer">Kiwix server</a>, but you want the ease of use that comes with Sandstorm.</li>
    </ul>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="glyphicon glyphicon-alert"></i> Unsupported features</h2>
        </div>
        <div class="panel-body">
            <p>This Sandstorm app is based on the <a href="http://kiwix.org" target="_blank" rel="noopener noreferrer">Kiwix</a> project, but is still in progress, so it may lag behind in some features. <a href="?page=known-limitations">See here</a> to read about current known limitations.</p>
        </div>
    </div>

    <a href="?page=how-it-works" class="btn btn-lg btn-primary">Okay, so how do I set it up?</a>
</div>
