{# NOTE: This needs to maintain partial parity with .sandstorm/description.md #}
<div class="col-lg-12">
    <h1>Wikipedia without the Internet. Just a few clicks to set up.</h1>

    <p>Are you setting up an IT system for your school with limited Internet access? Are you setting up an independent mesh networking community? Are you just a data hoarder? Then you probably would love to have your own copy of <strong>Wikipedia</strong> available on your home or community server, even when you're disconnected from the Internet.</p>

    <p>With Kiwix, you can easily set up your own copy of Wikipedia, Project Gutenberg, Stack Overflow, and many other free content sources. Perfect for your local network. Learn more about the Kiwix project <a href="http://kiwix.org" target="_blank" rel="noopener noreferrer">here</a>.</p>

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="glyphicon glyphicon-alert"></i> Unsupported features</h2>
        </div>
        <div class="panel-body">
            <p>This Sandstorm app is based on the <a href="http://kiwix.org" target="_blank" rel="noopener noreferrer">Kiwix</a> project, but is still in progress, so it may lag behind in some features. <a href="?page=known-limitations">See here</a> to read about current known limitations.</p>
        </div>
    </div>

    <a href="?page=how-it-works" class="btn btn-lg btn-primary">Okay, so how do I set it up?</a>
</div>
