<div class="col-lg-12">
    <h2>Wikipedia without the Internet. Just a few clicks to set up.</h2>

    <h3>Who is this for?</h3>

    <p>Are you setting up an IT system for your school with limited Internet access? Are you setting up an independent mesh networking community? Are you just a data hoarder? Then you probably would love to have your own copy of <strong>Wikipedia</strong> available on your local network, even when you're disconnected from the Internet.</p>

    <p>Now, with Kiwix, you can easily set up your own copy of Wikipedia, Project Gutenberg, Stack Overflow, and many other free content sources with the simplicity of Sandstorm.</p>

    <h3>Known limitations</h3>

    <p><a href="http://wiki.kiwix.org/wiki/Features#Web_server" target="_blank" rel="noopener noreferrer">Kiwix</a> is a project of its own. This Sandstorm app makes it easier to set up, but it is still in Beta, so some features may be rough around the edges:</p>

    <h4>Searching wikis:</h4>
    <ul>
        <li>Searching by document content (as opposed to document title) does not work for some wikis.</li>
        <li>Search does not work at all for some wikis.</li>
    </ul>
    <h4>Other features:</h4>
    <ul>
        <li>Seeking within videos does not work on some browsers.</li>
        <li>The "Random Page" feature on wikis does not work.</li>
    </ul>
    <h4>User interface:</h4>
    <ul>
        <li>External links must manually be opened in new tabs</li>
    </ul>

    <p>If you are interested in seeing something in particular get improved, <em>please give feedback</em>!</p>

    <h3>So how does it work?</h3>
    <ul>
        <li>Get a content file from the Internet</li>
        <li>Upload it here, into this Sandstorm grain</li>
        <li>Enjoy the content, and share it with others on your local network!</li>
    </ul>

    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Learn More</h3>
        </div>
        <div class="panel-body">
            <p>Learn more about the <a href="http://kiwix.org" target="_blank" rel="noopener noreferrer">Kiwix</a> project. There are also apps available for desktop and mobile.</p>
        </div>
    </div>
    <a href="?page=download" class="btn btn-lg btn-primary">Get Started </a>
    <br>
    <br>
</div>
