{# NOTE: This needs to maintain parity with known_limitations.md #}
<div class="col-lg-12">
    <h2>Known limitations</h2>

    <p><a href="http://wiki.kiwix.org/wiki/Features#Web_server" target="_blank" rel="noopener noreferrer">Kiwix</a> is a project of its own. This Sandstorm app makes it easier to set up, but it is still in Beta, so some features may be rough around the edges:</p>

    <h3>Searching:</h3>
    <ul>
        <li>For some wikis, searching by document <i>content</i> does not work.</li>
        <ul>
            <li>Some, including English Wikipedia, may still allow search by document <i>title</i>, with autocomplete.</li>
            <li>Search on some Wikis may not work at all.</li>
        </ul>
        <li>For some Stack Exchange sites, searching by document <i>content</i> does not work.</li>
        <ul>
            <li>Some, including English Stack Overflow, may still allow search by <i>tag</i>, with autocomplete.</li>
        </ul>
    </ul>
    <h3>Other features:</h3>
    <ul>
        <li>Seeking within videos does not work on some browsers.</li>
        <li>The "Random Page" feature on wikis does not work.</li>
        <li>Downloading books in PDF format in Project Gutenberg doesn't work.</li>
    </ul>
    <h3>User interface:</h3>
    <ul>
        <li>External links will not work unless they are opened in a new tab.</li>
    </ul>

    <p>The hope is to get all of these things in order, but if you are interested in seeing something in particular get improved, <em>please give feedback</em> so we know what to work on next!</p>

    <a href="?page=intro" class="btn btn-lg btn-secondary">Go back</a>
</div>
