<div class="col-lg-12">
    <h1><i class="glyphicon glyphicon-floppy-save"></i> Download content file</h1>

    <p>The first step is to download a content file to your personal computer (not onto this Sandstorm grain just yet). This step of the setup process will help you find a content file you want.</p>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="glyphicon glyphicon-info-sign"></i> Content file format</h2>
        </div>
        <div class="panel-body">
            <p>Kiwix content is stored in Zim files (".zim" extension). Most likely, the ones you will be looking for will be available from Kiwix's website.</p>
        </div>
    </div>

    <div class="panel-group" id="content-category-list">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#content-category-list" href="#content-category-popular">
                        <i class="glyphicon glyphicon-sunglasses"></i> I'm looking for something popular, like Wikipedia
                    </a>
                </h4>
            </div>
            <div id="content-category-popular" class="panel-collapse collapse">
                <div class="panel-body">

                    {% include 'dead-link-plea.html' %}
                    {% include 'file-size-warning.html' %}

                    <div class="panel-group" id="content-category-popular-list">
                        {% with category_code="popular" %}
                            {% for download_link in popular_download_links %}
                                {% include 'download-link.html' %}
                            {% endfor %}
                        {% endwith %}
                    </div>

                    <a class="btn btn-lg btn-secondary" data-toggle="collapse" data-parent="#content-category-list" href="#content-category-less-common"><i class="glyphicon glyphicon-eye-open"></i> I'm looking for something else</a>

                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#content-category-list" href="#content-category-demo">
                        <i class="glyphicon glyphicon-time"></i> I'm looking for a small content file, just to give this a quick try
                    </a>
                </h4>
            </div>
            <div id="content-category-demo" class="panel-collapse collapse">
                <div class="panel-body">
                    {% include 'dead-link-plea.html' %}
                    <div class="panel-group" id="content-category-demo-list">
                        {% with category_code="demo" %}
                            {% for download_link in demo_download_links %}
                                {% include 'download-link.html' %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#content-category-list" href="#content-category-less-common">
                        <i class="glyphicon glyphicon-globe"></i> I want to browse everything that's available on Kiwix's website
                    </a>
                </h4>
            </div>
            <div id="content-category-less-common" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>You can find a lot of content on Kiwix's website, including various Wikimedia projects, subsets of Wikipedia, Stack Exchange sites, and TED Talks. They are also available in many languages.</p>

                    {% include 'file-size-warning.html' %}

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Find a Zim file:</p>
                                </h4>
                            </div>
                            <div class="panel-collapse">
                                <div class="panel-body">
                                    <a href="http://wiki.kiwix.org/wiki/Content" target="_blank" rel="noopener noreferrer" class="list-group-item">English</a>
                                    <a href="http://wiki.kiwix.org/wiki/Content_in_all_languages" target="_blank" rel="noopener noreferrer" class="list-group-item">All languages</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="?page=upload" class="btn btn-lg btn-primary">Alright, I got my content file!</a>
                </div>


            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#content-category-list" href="#content-category-already-have">
                        <i class="glyphicon glyphicon-check"></i> I already have a content file</a>
                    </a>
                </h4>
            </div>
            <div id="content-category-already-have" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>If you already have a content file, you can <a href="?page=upload">skip ahead</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" id="buttons-after-choice">
    <a href="?page=how-it-works" class="btn btn-lg btn-secondary" id="go-back-button-top">Go back</a>
</div>
