<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="glyphicon glyphicon-alert"></i> File size warning</h2>
    </div>
    <div class="panel-body">
        <p>If you choose a large file, be mindful of:</p>
        <ul>
            <li>Your Sandstorm quota, if you have one set</li>
            <li>Your overall disk space, if you are running your own Sandstorm server</li>
            <li>Upload time, if you and your Sandstorm instance aren't on the same local network</li>
        </ul>
    </div>
</div>
