{# NOTE: This needs to maintain partial parity with package/description.md #}
<div class="col-lg-12">
    <h1>Setting it up</h1>
    This setup process will guide you through the steps of setting up this Sandstorm grain to serve content:
    <ul>
        <h2><i class="glyphicon glyphicon-floppy-save"></i> Download content file</h2>
        <p>Download a content file from the from Kiwix website (or elsewhere if you wish) onto <em>your personal computer</em>.</p>
        <h2><i class="glyphicon glyphicon-cloud-upload"></i> Upload content file</h2>
        <p>Upload the content file from your personal computer into <em>this Sandstorm grain</em>.</p>
        <h2><i class="glyphicon glyphicon-thumbs-up"></i> Enjoy</h2>
        <p>Enjoy the content, and share it with others who have access to your server!</p>
    </ul>

    <a href="?page=download" class="btn btn-lg btn-primary">Got it. Let's download the content file!</a>
    <a href="?page=intro" class="btn btn-lg btn-secondary">Go back</a>
</div>
