<html>
  <body>
    {% if not success %}
        <h1>This Kiwix instance has no data. Upload a zim file</h1>
        {% if unspecified %}
            You did not specify a file. Please try again.
        {% elif bad_file_type %}
            Sorry, this does not appear to be a zim file. Please try another.
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file_to_upload" id="file_to_upload">
            <input type="submit" value="Upload Zim File" name="submit">
        </form>
    {% else %}
        Successfully got the Zim file! Click <a href=''>here</a> to see it.
    {% endif %}
  </body>
</html>
