<html>
  <body>
    {% if not success %}
        <h1>This Kiwix instance has no data. Upload a zim file</h1>
        <p>
            NOTE: For the time being there is a limit of 10MB on uploads. The
            server code needs to be improved to handle larger ones. Eventually,
            hopefully it will be able to handle something as big as Wikipedia.
        </p>
        {% if unspecified %}
            You did not specify a file. Please try again.
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file_to_upload" id="file_to_upload">
            <input type="submit" value="Upload Zim File" name="submit">
        </form>
    {% else %}
        Successfully got the Zim file! Click <a href=''>here</a> to see it.
    {% endif %}
  </body>
</html>
